* {
	background-color: #000;
	font-style: Helvetica;
}

header {
	background-color: #ffb223;
}

nav {
	background-color: #374165;
}

.link-header {
	font-size: 30px;
text-decoration: none;	
color: #ffb223
}

.link-header:hover {
	color: #dedede;
}

